.git-config-local
.vscode
firecracker/.vscode
firecracker/.circleci
firecracker/.github
firecracker/.dockerignore
firecracker/.grenrc.js
firecracker/.readthedocs.yml
firecracker/CHANGELOG.md
firecracker/CODE_OF_CONDUCT.md
firecracker/CONTRIBUTING.md
firecracker/Dockerfile
firecracker/LICENSE
firecracker/MAINTAINERS
firecracker/Makefile
firecracker/README.md
firecracker/go.mod
firecracker/go.sum
firecracker/ignite.iml
# folders
firecracker/cmd
firecracker/docs
firecracker/e2e/
firecracker/hack/
firecracker/images/alpine
firecracker/images/amazonlinux
firecracker/images/centos
firecracker/images/kubeadm
firecracker/images/Makefile
firecracker/images/opensuse
firecracker/images/ubuntu
firecracker/pkg/
firecracker/vendor/